h1, h2{
    text-align: center;
    font-size: 10mm;
    font-style: italic;
    color: rgb(136, 150, 147);
    background-color: rgb(206, 43, 84);
    border: 10px solid rgb(136, 150, 147);
    padding: 15px;
    border-image: url(border.png) 50 round;
}
body{
    background-color: rgb(233, 206, 208);
}
img{
    width: 600px;
    align-items: center;
    height: 500px;
    width: 1000px;
    border-image:repeat;

}

p1{
    text-align: center;
    background-color: rgba(243, 8, 79, 0.76);
    font-size: 30px;
    font-style: oblique;
    letter-spacing: 10px;
    border: 10px solid rgb(136, 150, 147);
    color: white;
    
}

p{
    width: auto;
    font-size: 30px;
    font-style: oblique;
    color: white;
    text-decoration: none;
    font-size: 25px;
}


